:root {
  --primary-color: #ff4D00;
  --secondary-color: #f0f0f0;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --text-light-color: #ffffff;
  --text-dark-color: #212529;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  background-color: var(--secondary-color) ;
  border-color: var(--secondary-color);
  color: #fff;
}
.bg-light {
  background-color: var(--light-color) !important;
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.text-color {
  color: var(--text-light-color) !important;
}