.btn-primary {
  background-color: #ff4D00;
  border-color: #ff4D00;
  color: #fff;
}

.btn-secondary {
  background-color: #636363;
  border-color: #636363;
  color: #fff;
}
.bg-light {
  background-color: #f8f9fa !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-light {
  color: #f8f9fa !important;
}